LibraryCheckout.Client/Service References/LibraryService/LibraryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Library.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Library.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element name="_x003C_Author_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CheckedOut_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_Checkouts_x003E_k__BackingField" nillable="true" type="tns:ArrayOfCheckout" />
      <xs:element name="_x003C_ISBN_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Publisher_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Synopsis_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="ArrayOfCheckout">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Checkout" nillable="true" type="tns:Checkout" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheckout" nillable="true" type="tns:ArrayOfCheckout" />
  <xs:complexType name="Checkout">
    <xs:sequence>
      <xs:element name="_x003C_Address_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Book_x003E_k__BackingField" nillable="true" type="tns:Book" />
      <xs:element name="_x003C_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DateIn_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_DateOut_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Email_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ISBN_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PostalCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_State_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Subscriber_x003E_k__BackingField" nillable="true" type="tns:Subscriber" />
      <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Checkout" nillable="true" type="tns:Checkout" />
  <xs:complexType name="Subscriber">
    <xs:sequence>
      <xs:element name="_x003C_Address_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Checkouts_x003E_k__BackingField" nillable="true" type="tns:ArrayOfCheckout" />
      <xs:element name="_x003C_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Email_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PostalCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_State_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subscriber" nillable="true" type="tns:Subscriber" />
</xs:schema>