Client/Service References/LibraryService/LibraryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TableStorageSet" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TableStorageSet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TableServiceEntityBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartitionKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableServiceEntityBase" nillable="true" type="tns:TableServiceEntityBase" />
</xs:schema>