LibraryCheckout.Client/Service References/EchoService/EchoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="uri://blackriverinc.com/helloindigo/EchoService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="uri://blackriverinc.com/helloindigo/EchoService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="uri://blackriverinc.com/helloindigo/EchoService/Imports">
      <xsd:import schemaLocation="http://localhost:8088/EchoService.svc?xsd=xsd0" namespace="uri://blackriverinc.com/helloindigo/EchoService" />
      <xsd:import schemaLocation="http://localhost:8088/EchoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEchoService_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="IEchoService_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="IEchoService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IEchoService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="IEchoService">
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="uri://blackriverinc.com/helloindigo/EchoService/IEchoService/Echo" message="tns:IEchoService_Echo_InputMessage" />
      <wsdl:output wsaw:Action="uri://blackriverinc.com/helloindigo/EchoService/IEchoService/EchoResponse" message="tns:IEchoService_Echo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="uri://blackriverinc.com/helloindigo/EchoService/IEchoService/Ping" message="tns:IEchoService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="uri://blackriverinc.com/helloindigo/EchoService/IEchoService/PingResponse" message="tns:IEchoService_Ping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>