LibraryCheckout.Client/Service References/EchoService/EchoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="uri://blackriverinc.com/helloindigo/EchoService" elementFormDefault="qualified" targetNamespace="uri://blackriverinc.com/helloindigo/EchoService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>