LibraryCheckout.WebApp/Service References/BlackriverincSvc/LibraryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="uri://blackriverinc.com/helloindigo/LibraryService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="uri://blackriverinc.com/helloindigo/LibraryService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="uri://blackriverinc.com/helloindigo/LibraryService/Imports">
      <xsd:import schemaLocation="http://localhost:8088/LibraryService.svc?xsd=xsd0" namespace="uri://blackriverinc.com/helloindigo/LibraryService" />
      <xsd:import schemaLocation="http://localhost:8088/LibraryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/LibraryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibraryModel" />
      <xsd:import schemaLocation="http://localhost:8088/LibraryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TableStorageSet" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibraryService_List_InputMessage">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Load_InputMessage">
    <wsdl:part name="parameters" element="tns:Load" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Load_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadResponse" />
  </wsdl:message>
  <wsdl:portType name="ILibraryService">
    <wsdl:operation name="List">
      <wsdl:input wsaw:Action="uri://blackriverinc.com/helloindigo/LibraryService/ILibraryService/List" message="tns:ILibraryService_List_InputMessage" />
      <wsdl:output wsaw:Action="uri://blackriverinc.com/helloindigo/LibraryService/ILibraryService/ListResponse" message="tns:ILibraryService_List_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="uri://blackriverinc.com/helloindigo/LibraryService/ILibraryService/Read" message="tns:ILibraryService_Read_InputMessage" />
      <wsdl:output wsaw:Action="uri://blackriverinc.com/helloindigo/LibraryService/ILibraryService/ReadResponse" message="tns:ILibraryService_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="uri://blackriverinc.com/helloindigo/LibraryService/ILibraryService/Update" message="tns:ILibraryService_Update_InputMessage" />
      <wsdl:output wsaw:Action="uri://blackriverinc.com/helloindigo/LibraryService/ILibraryService/UpdateResponse" message="tns:ILibraryService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="uri://blackriverinc.com/helloindigo/LibraryService/ILibraryService/Add" message="tns:ILibraryService_Add_InputMessage" />
      <wsdl:output wsaw:Action="uri://blackriverinc.com/helloindigo/LibraryService/ILibraryService/AddResponse" message="tns:ILibraryService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="uri://blackriverinc.com/helloindigo/LibraryService/ILibraryService/Delete" message="tns:ILibraryService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="uri://blackriverinc.com/helloindigo/LibraryService/ILibraryService/DeleteResponse" message="tns:ILibraryService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load">
      <wsdl:input wsaw:Action="uri://blackriverinc.com/helloindigo/LibraryService/ILibraryService/Load" message="tns:ILibraryService_Load_InputMessage" />
      <wsdl:output wsaw:Action="uri://blackriverinc.com/helloindigo/LibraryService/ILibraryService/LoadResponse" message="tns:ILibraryService_Load_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>