LibraryCheckout.WebApp/Service References/BlackriverincSvc/LibraryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LibraryModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LibraryModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/LibraryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TableStorageSet" />
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="Book">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/TableStorageSet" base="q1:TableServiceEntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Synopsis" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
</xs:schema>